<div class="container">
  <div class="row justify-content-center">
    <div class="col-2 p-3">
      <%= link_to 'create a skater', new_skater_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <table class="table table-sm">
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>city</th>
          <th>Skill Level</th>
          <th>Last Competitive level</th>
          <th>preferred position</th>
          <th>edit</th>
          <th>delete</th>
        </tr>
        <% @skaters.each do |skater| %>
          <tr>
            <td><%= skater.name %></td>
            <td><%= skater.user_name %></td>
            <td><%= skater.city %></td>
            <td><%= skater.skill_level %></td>
            <td><%= skater.last_level %></td>
            <td><%= skater.position %></td>
            <td><%= link_to 'edit', edit_skater_path(skater), method: :get %></td>
            <td><%= link_to 'delete', skater_path(skater), method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
