<div class="row">
  <div class="col">
    <%= link_to 'Add Rink', "/rinks/new", class: 'btn btn-primary' %>
  </div>
</div>


<div class="row">
    <% @rinks.each do |rink| %>
  <div class="col-lg-6 col-sm-12 border border-1 d-flex flex-column align-items-center">
      <p><%= rink.name %></p>
      <p><%= rink.address %></p>
      <p><%= rink.city %></p>
      <p><%= rink.state %></p>
      <p><%= rink.phone %></p>
  </div>
    <% end %>
</div>
