<div class="col-md-10 mx-auto col-lg-5" id="signup_form">
  <%= form_with(url: user_predictions_path, method: 'post', local: true, class: 'p-4 p-md-5 border rounded-3 bg-light') do |f| %>
    <%= content_tag :legend, 'SignUp', class: 'display-4' %>
    <div class="form-floating mb-3">
      <%= f.text_field :email, type: 'email', class:'form-control', id: 'floatingInput', placeholder: 'email' %>
      <%= f.label :email, 'email address' %>
    </div>
    <div class="form-floating mb-3">
      <%= f.text_field :password, type: 'password', class:'form-control', id: 'floatingInput', placeholder: 'password' %>
      <%= f.label :password, 'password' %>
    </div>
    <%= f.submit 'Sign Up', class: 'btn btn-primary w-100 btn-lg' %>
  <% end %>
</div>
</div>
<%=  %>