<div class="row g-lg-5 py-5">
  <div class="col-lg-6 text-center text-lg-start">
    <%= content_tag :div, "kapusSkate", class: 'display-3 fw-bold' %>
    <div class="col">
    <%= content_tag :h3, "upcoming skates:", class: "text-muted" %>
      <% @next_three_skates.each do |skate| %>
        <%= render partial: 'partials/next_three_skates', locals: { skate: skate } %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'partials/homepage_signup' %>
</div>
<div class="row">
  <div class="col">
    <% if @skate.skater_skates != [] %>
      <% @skate.skater_skates.each do |skater|%>
        <ul>
          <li><%= skater.name %></li>
        </ul>
      <% end %>
    <% else %>
      <p>no one signed up yet</p>
    <% end %>
  </div>
</div>
