<div class="row g-lg-5 py-5">
  <div class="col-lg-6 text-center text-lg-start">
    <div class="display-3 fw-bold">Kapus Skate</div>

    <div class="col">
    <h3 class="text-muted">upcoming skates:</h3>
    <% @next_three_skates.each do |skate| %>
      <div class="border border-1 m-3 p-3">
        <p>Date: <%= link_to skate.date.strftime("%A %B %d, %Y"), skate_path(skate.id) %></p>
        <p>Rink: <%= skate.rink.name %></p>
        <p>Address: <%= skate.rink.address %></p>
        <p>Host: <%= skate.host %></p>
      </div>
    <% end %>
    </div>
  </div>
  <%= render partial: 'partials/homepage_signup' %>
</div>
<div class="row">
  <div class="col">
    <% if @skate.skaters != [] %>
      <% @skate.skaters.each do |skater|%>
        <ul>
          <li><%= skater.name %></li>
        </ul>
      <% end %>
    <% else %>
      <p>no one signed up yet</p>
    <% end %>
  </div>
</div>
