<div class="row">
	<h1>Skates</h1>
	<div class="col">
		<table class="table bg-light">
			<%= form_with model: @skate, local: true do |f| %>
				<tr>
					<td class="d-flex justify-content-evenly">add a skate: <%= f.date_field :date %>  <%= f.submit 'add skate' %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
<div class="row">
	<div class="col">
		<table class="table table-sm table-hover">
			<tr>
				<th><%= link_to 'date', :sort => 'date' %></th>
				<th><%= link_to 'id', :sort => 'id' %></th>
				<th></th>
				<th></th>
			</tr>
			<% @skates.each do |skate| %>
				<tr>
					<td><%= skate.date.strftime("%a %b %d, %Y") %></td>
					<td><%= skate.id %></td>
					<td><%= link_to 'edit', edit_skate_path(skate) %></td>
					<td><%= link_to 'delete', skate_path(skate), method: :delete, data: {confirm: 'are you sure?'} %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
