<div class="row">
	<h1 class="display-2">Upcoming skates:</h1>
	<div class="col">
		<table class="table table-borderless">
			<%= form_with model: @skate, local: true do |f| %>
				<tr>
					<td class="d-flex justify-content-evenly">add a skate: <%= f.date_field :date %>  <%= f.submit 'add skate' %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
<div class="row">
	<div class="col">
		<table class="table table-sm table-hover">
			<tr>
				<th><%= link_to 'date', :sort => 'date' %></th>
				<th><%= link_to 'id', :sort => 'id' %></th>
				<th></th>
				<th></th>
			</tr>
			<% @skates.each do |skate| %>
				<tr>
					<td><%= link_to "#{skate.date.strftime('%a %b %d, %Y')}", skate_path(skate.id), class: "text-decoration-none" %></td>
					<td><%= skate.id %></td>
					<td><%= link_to 'edit', edit_skate_path(skate) %></td>
					<td><%= link_to 'delete', skate_path(skate), method: :delete, data: {confirm: 'are you sure?'} %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
