<div class="row justify-content-center">
  <div class="col col-4">
    <h2>Upcoming skates</h2>
    <div class="col">
    </div>
  </div>
</div>
<div class="row justify-content-around">
  <div class="col-lg-6">
    <table class="table table-sm table-hover">
      <% @skates.each do |skate| %>
        <tr>
          <td><%= link_to "#{skate.date.strftime('%a %b %d, %Y')}", skate_path(skate.id), class: "text-decoration-none" %></td>
          <td><%= link_to 'edit', edit_skate_path(skate) %></td>
          <td><%= link_to 'delete', skate_path(skate), method: :delete, data: {confirm: 'are you sure?'} %></td>
        </tr>
      <% end %>
    </table>
    <div class="d-flex justify-content-center"><%= link_to 'Add a skate', new_skate_path, class: 'btn btn-primary' %></div>
  </div>
  <div class="col-lg-2 bg-light p-3">
    <table class="table">
      <th class="text-center">past skates</th>
      <% @past_skates.each do |skate| %>
        <tr>
          <td class="text-center"><%= skate.date.strftime('%a %b %d, %Y') %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>