<div class="row border border-1">
	<div class="col">
			<%= form_with model: @skate, local: true do |f| %>
		<table class="table">
				<% if @skate.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@skate.errors.count, "error") %> prohibited this skate from being saved: </h2>
						<ul>
							<% @skate.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end%>
				<%= f.label :date %>
				<%= f.date_field :date %>
				<%= f.submit 'add skate' %>
		</table>
			<% end %>
	</div>
</div>
