<% require 'faker' %>
<div class="container">
	<div class="row">
		<div class="col-12 d-flex justify-content-center">
			<h4 class="display-4">Some history of the Kapus Skate</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
      <p><%= Faker::Lorem.paragraph(sentence_count: 20) %></p>
		</div>
		<div class="col-lg-6">
			<%= image_tag 'hockey_image.jpg', placeholder: 'image', class: 'img-fluid' %>
		</div>
	</div>
	<div class="row justify-content-end">
		<div class="col-lg-6">
			<%= image_tag 'hockey_image.jpg', placeholder: 'image', class: 'img-fluid' %>
		</div>
		<div class="col-lg-6">
			<p><%= Faker::Lorem.paragraph(sentence_count: 20) %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga reprehenderit, veniam repudiandae temporibus deleniti dolorem distinctio, mollitia eligendi quod eius quos! Tenetur, nobis animi qui soluta autem facilis nostrum.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe at neque alias, commodi magni nesciunt ab. Vero, fugiat. Porro nihil consectetur blanditiis hic libero quam consequuntur. Atque officiis aliquid corrupti.</p>
		</div>
		<div class="col-lg-6">
			<%= image_tag 'hockey_image.jpg', placeholder: 'image', class: 'img-fluid' %>
		</div>
	</div>
	<div class="row justify-content-end">
		<div class="col-lg-6">
			<%= image_tag 'hockey_image.jpg', placeholder: 'image', class: 'img-fluid' %>
		</div>
		<div class="col-lg-6">
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex ab cumque accusantium. Optio, doloribus? Sequi ducimus molestias, rem necessitatibus aliquid nisi magnam harum eligendi quis placeat ipsum atque quisquam autem?</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt tempora blanditiis exercitationem, harum voluptate ratione natus eos quam. Rerum quas deserunt fugiat minus officia repellat? Quos veniam eum quibusdam magni?</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, ipsa accusamus libero, aspernatur consectetur voluptatem ullam amet delectus quo quas nobis atque ducimus dignissimos minima tenetur quae ea a doloribus?</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid laboriosam reprehenderit odit laborum, sunt repellendus necessitatibus, neque earum suscipit, aliquam quibusdam libero autem velit molestias. Quisquam perspiciatis repellendus beatae? Perspiciatis.</p>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sequi illum dolores ad eligendi explicabo officia numquam quisquam aliquid hic! Delectus quae provident saepe consequatur repellat alias itaque deleniti omnis.</p>
		</div>
	</div>
</div>
